BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
AllowShortFunctionsOnASingleLine: false
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: true
PenaltyReturnTypeOnItsOwnLine: 1000000
