CompileFlags:
  Add:
    - -std=gnu23
    - -xc
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wtype-limits
    - -Werror=return-type
    - -Werror=incompatible-pointer-types
    - -Wno-varargs
    - -nostdlib
