CompileFlags:
  Add:
    - -std=gnu17
    - -xc
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wtype-limits
    - -Wno-language-extension-token
    - -Wno-gnu-statement-expression-from-macro-expansion
    - -Wno-varargs
    - -nostdlib
