*.o
*.lst
*.exe
*.bin
.gdb*
*.cpy
*.dump
*.so
tiny_wine
/loader
*.a
/data_section
/env
/string
/tinyfetch
*.core
/dynamic
a.out
*.s
/static_pie
/unit_test
/winloader
/readwin
/windynamic_linux
*.dll
*.log
